<!-- client welcome page-->
<!-- client nav bar-->
<div>
  <div class="mdl-grid subnav">
    <div class="mdl-cell subnav-left mdl-cell--6-col">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#cleaning" class="mdl-tabs__tab is-active">CLEANING</a>
          <a href="#repairing" class="mdl-tabs__tab">REPAIRING</a>
          <a href="#caring" class="mdl-tabs__tab">CARING</a>
          <a href="#more" class="mdl-tabs__tab">MORE</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="cleaning">
            <ul>
              <li>Home cleaning</li>
              <li>Window cleaning</li>
              <li>Move in/out cleaning</li>
              <li>Yard cleaning</li>
              <li>Laundry</li>
              <li>Other</li>
            </ul>
        </div>
        <div class="mdl-tabs__panel" id="repairing">
          <ul>
            <li>Heating,Ventilation</li>
            <li>Air conditioning</li>
            <li>Electricity</li>
            <li>Plumbing</li>
            <li>Renovation installs</li>
            <li>Office,commercial premises work</li>
            <li>Other</li>
          </ul>
        </div>
        <div class="mdl-tabs__panel" id="caring">
          <ul>
            <li>Baby sitting</li>
            <li>Elderly caring</li>
            <li>Home doctor</li>
            <li>Disability aids</li>
            <li>Other</li>
          </ul>
        </div>
        <div class="mdl-tabs__panel" id="more">
          <ul>
            <li>Catering</li>
            <li>Home message</li>
            <li>Pest control</li>
            <li>Yardwork</li>
            <li>Gardening</li>
            <li>Other</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-offset">
      <button class="mdl-button mdl-js-button">
        About us
      </button>
      <button class="mdl-button mdl-js-button">
        FAQ
      </button>
      <button class="mdl-button mdl-js-button">
        Contact
      </button>
    </div>
  </div>
</div>


<!-- quick book part-->

<div class="quick mdl-grid">
    <div class="quick-intro mdl-cell mdl-cell--8-col">
      <p class="title">Quick Book</p>
      <p>Are you in a hurry to get a service?</p>
      <p>User our quick book, get everything done in <strong>3 minutes</strong>, with only <strong>5€</strong> plugs</p>
    </div>
    <div class="quick-book mdl-cell mdl-cell--3-col mdl-cell--1-offset">
      <h4>
        <div class="icon material-icons">phone</div>024524524
      </h4>
      <h5>or</h5>
      <button class="mdl-button mdl-js-button mdl-button--raised">
        Online Chat
      </button>
    </div>
</div>

<!-- local offer part -->

<div class="local">
  <div class="local-title">
    LOCAL OFFERS
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-card">
        <div class="mdl-card__media local-bg">
          <div class="tag">
            <p>-20%</p>
          </div>
        </div>
        <div class="mdl-card__supporting-text">
          <p class="text-title">Bestmaids</p>
          <div class="rank">
            4.7
            <div class="icon material-icons">star</div>
          </div>
          <p>34/h for entire house clean</p>
          <p>4 Mar 2017 - 20 Mar 2017</p>
        </div>
        <div class="mdl-card__actions">
          <button class="mdl-button mdl-js-button mdl-button--raised">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
