<!-- Welcome page part-->
<!-- The wide welcome picture band -->
<div class="widepic">
  <div class="darklayer">
    <div class="center widetext">
      <h2>Tervetuloa :) </h2>
      <h5>How can we help with your house?</h5>
        <%= link_to "JOIN FOR FREE", signup_path, class:"join-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent " %>
        <div class = "supplier-link-area">
          <%= link_to "I am a supplier",'#', class:"supplier-link" %>
          <i class="material-icons" style="color: white; font-size: 1.2em;">arrow_forward</i>
        </div>
    </div>
  </div>
</div>

<!-- Intro block: Why us-->
<div class="intro-block">
  <h4 class="center part-intro">Why us</h4>


  <div class="mdl-grid why-us-box">
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Reliable</h5>
      <p>
        We cooperate only with trustworthy home service companies. We offer full after-service support.
      </p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Easy</h5>
      <p>
        Get all the necessary info about the service you want. Order and purchase home services online.
      <p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Cost Saving</h5>
      <p>
        Compare prices easily. Get special offers. Claim tax deductions around 45%.
      <p>
    </div>

  </div>
</div>


<!-- Intro block: The services we provide-->
<div class="intro-block">
  <h4 class="center part-intro">We provide the following services</h4>

  <div class="mdl-grid show-box">
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Sitting</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Cleaning</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Catering</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Moving</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Repairing</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <h5>Renovation</h5>
    </div>

  </div>
</div>

<!-- Intro block: The locations we serve-->
<div class="intro-block">
  <h4 class="center part-intro"> We serve these localities</h4>
  <div class = "center serve-loc">
    <%= link_to image_tag("serve-area.png", size: "400x250"), id:"serve-map"%>
  </div>
</div>
