<!-- Welcome page part-->
<!-- The wide welcome picture band -->
<div class="widepic">
  <div class="darklayer">
    <div class="center widetext">
      <h2>Tervetuloa :) </h2>
      <h5>How can we help with your house?</h5>
        <%= link_to "JOIN FOR FREE", signup_path, class:"join-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent " %>
        <div class = "supplier-link-area">
          <%= link_to "I am a supplier",'#', class:"supplier-link" %>
          <i class="material-icons" style="color: white; font-size: 1.2em;">arrow_forward</i>
        </div>
    </div>
  </div>
</div>

<!-- Intro block: Who are we-->
<div class="intro-block">
  <h4 class="center part-intro">Who are we</h4>

  <div class="mdl-grid show-box">

  </div>
</div>


<!-- Intro block: The services we provide-->
<div class="intro-block">
  <h4 class="center part-intro">We provide all the following services</h4>

  <div class="mdl-grid show-box">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--1-offset">
      <p>Cleaning</p>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <p>Repairing</p>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <p>Sitting</p>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <p>Moving</p>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
      <p>Catering</p>
    </div>

  </div>
</div>

<!-- Intro block: The locations we serve-->
<div class="intro-block">
  <h4 class="center part-intro"> We serve all the following localities</h4>
</div>
