<% provide(:title, 'Chatchat | Help') %>
<div style="padding-left: 100px;">
  <br>
  <h2>Help Guide</h2>
      <p>
          Hi, this is the mini chat service I made.

          It is simple. You can register and then p

      </p>

</div>