<!DOCTYPE html>
<html>
  <head>
    <title>Chatchat | Mini chat rooms</title>
  </head>
  <body>
    <div class="pagecontent center">
    	<h1>Chat Chat</h1>
    	<p>
      		A mini chat space.
    	</p>

    	<div>
    		<%= link_to "Sign up", signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
    	</div>
    </div>
  </body>
</html>
