<% provide(:title, 'HomeMaker | Home') %>

<div class="subnav mdl-grid">
  <div class="subnav-left mdl-cell mdl-cell--6-col">
    <p class="intro">
      Leave your chores to us! Everything about home is here :)
    </p>
  </div>
  <div class="subnav-right mdl-cell mdl-cell--6-col button-group">
      <!-- Sub Navigation -->
      <a class="mdl-button mdl-js-button">
        About us
      </a>
      <a class="mdl-button mdl-js-button">
        FAQ
      </a>
      <a class="mdl-button mdl-js-button">
        Contact
      </a>
    </div>
</div>


<%= render 'welcome' %>

<%= render 'services' %>
