<% provide(:title, 'Chatchat | Mini chat rooms') %>
<div class="center">
  <br>
  <h1>Hello</h1>
  <h1> :-) </h1>
  <h3>Welcome to Chatchat</h3>
    	<p>
      		A mini chat space.
    	</p>

  <div>
    		<%= link_to "Sign up", signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
  </div>
</div>