<% provide(:title, 'Chatchat | Mini chat rooms') %>
<div class="center">
  <h1>Chat Chat</h1>
    	<p>
      		A mini chat space.
    	</p>

  <div>
    		<%= link_to "Sign up", signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
  </div>
</div>