<% provide(:title, 'HomeMaker | Home') %>

<div class="mdl-grid">
  <p class="intro">
    Leave your chores to us! Everything about home is here :)
  </p>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-offset button-group">
    <button class="mdl-button mdl-js-button">
      About us
    </button>
    <button class="mdl-button mdl-js-button">
      FAQ
    </button>
    <button class="mdl-button mdl-js-button">
      Contact
    </button>
  </div>
</div>
<%= render 'welcome' %>
