<footer class="footer">
  <small>
    ChatChat by Hanyue @2016</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_url %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
</footer>
